API_ID=27589257
API_HASH=0af78b04b48361bc117fa4e06d6d2292
TOKEN=2119246346:AAHyOXITUZ70rWpZyx76yB93CBO-LdvgLIE
OWNER_ID=1137799257
OWNER_USERNAME=drxew
SUPPORT_CHAT=OfficialBot_Support
EVENT_LOGS=-1001696809539
MONGO_DB_URI=mongodb+srv://Musicbot:Musicbot@cluster0.dgfgmvj.mongodb.net/?retryWrites=true&w=majority
DATABASE_URL=postgres://huhhtsjv:VfJzWpc9gt-H2ypkU21iuGVTtbPpFl09@lallah.db.elephantsql.com/huhhtsjv
